<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.roberto.solobici" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Menasao1.0"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SoloBici"
            android:label="Menasao1.0" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Preferencias"
            android:label="Preferencias">
        </activity>
        <activity
            android:name=".Juego"
            android:label="Juego solobicis">
        </activity>
    </application>

</manifest>